body {
    background-color: #121212;
    color: #ccc;
}

button {
    background-color: #202020;
    border-color: transparent;
    border-radius: 5px;
    color: #ccc;
}

button:hover {
    transform: scale(1.1);
}

select {
    background-color: #202020;
    border-color: transparent;
    border-radius: 5px;;
    color: #cccccc;
}

input {
    background-color: #202020;
    border-color: transparent;
    border-radius: 5px;
    color: #ccc;
    appearance: textfield;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    appearance: none;
}
